.form{
    background-color:#008ECC ;
    border-style: 2px solid;
    padding: 10%;
    text-align: center;
}
input:hover,select:hover{
    background-color:#07709dd5;
    
}
label{
    font-size: 100%;
    display: inline-block;
    color:white;
    margin-bottom: 10px;
    text-transform: uppercase;
    word-spacing: 4px; 
    vertical-align: top;
}

input,select{
    width: 15%;
    height: 20%;
    position: relative;
    vertical-align: top;
}
.secform{
    border:  solid;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:5%;
    
}