body{
	background:lightgreen; /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, blue, #ffc371); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, rgb(130, 72, 211), #dfcd2e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.form{
    background-color:#ff54a2 ;
    border-style: 2px solid;
    padding: 10%;
    text-align: center;
}

input:hover,select:hover{
    background-color:#ff575a;
    
}
label{
    font-size: 100%;
    display: inline-block;
    color:white;
    margin-bottom: 10px;
    text-transform: uppercase;
    word-spacing: 4px; 
    vertical-align: top;
}

input,select{
    width: 15%;
    height: 20%;
    position: relative;
    vertical-align: top;
}
.secform{
    border:  solid;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:5%;
    
}