<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Price Prediction</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">

</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-1">
                <br>
                <h1>Mobile<br>Price<br>Predictor</h1>
                <br><br>
                <a href=mobile><button type="button">Let's start</button></a>
            </div>
            <div class="col-2">
                <img src="/static/images/mobiles.png" alt="" class="controller">
                <div class="color-box"></div>
            </div>
        </div>
    </div>
    
</body>
</html>